.conditions {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  
  
  justify-content: center;
  margin: 2rem;
}

@media screen and (min-width: 600px) {
  .conditions {
    grid-template-columns: repeat(3, 1fr);
    margin: 4rem;
    grid-gap: 4rem;
  }
}
