.items {
  margin: 4rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 600px) {
  .items {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 17rem));
    justify-content: space-between;
  }
}
