@import "../variables.scss";

.search {
  font-size: 16px;
  box-shadow: $shadow;

  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
}

@media screen and (min-width: 600px) {
  .search {
    width: 30%;
  }
}
