@import "../variables.scss";

.search {
  font-size: 16px;
  box-shadow: $shadow;

  padding: 1.5rem 2rem;
  border-radius: $radius;
  background-color: $white;
  border: none;
}

@media screen and (min-width: 600px) {
  .search {
    grid-column: 1/2;
  }
}
