@import "../variables.scss";

.wrapper {
  font-size: 14px;
  margin-top: 4rem;
}

.name {
  font-size: 20px;
  font-weight: 800;
}

.container {
  margin: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;

  &__basic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__additional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
}

@media screen and (min-width: $mobile) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .info {
    margin: 2rem;
  }

  .container {
    margin: 4rem;
  }
  .img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
